version: 2


updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: monthly
      time: "07:00"
      timezone: Australia/Adelaide
    versioning-strategy: increase-if-necessary
    labels:
      - dependencies
      - python

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      time: "07:00"
      timezone: Australia/Adelaide
    labels:
      - dependencies
      - github
