[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pytz = "*"
requests = "*"
rich = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-freezer = "*"
rope = "*"
ruff = "*"
types-beautifulsoup4 = "*"
types-requests = "*"

[requires]
python_version = "3.12"
